<div class="row">
  <div class="col-lg-3 col-sm-6">
    <mat-card class="cardWithShadow text-center">
      <mat-card-content class="p-20">
        <h5 class="f-s-16 f-w-400 mat-subtitle-1 m-b-10">Unique Visit</h5>
        <div style="width: 90px; margin: 0 auto">
          <apx-chart
            [series]="spark1Chart.series"
            [chart]="spark1Chart.chart"
            [plotOptions]="spark1Chart.plotOptions"
            [xaxis]="spark1Chart.xaxis"
            [yaxis]="spark1Chart.yaxis"
            [grid]="spark1Chart.grid"
            [fill]="spark1Chart.fill"
            [tooltip]="spark1Chart.tooltip"
            [colors]="spark1Chart.colors"
          >
          </apx-chart>
        </div>
      </mat-card-content>
      <div class="p-8 b-t-1">
        <mat-card-title class="f-s-16">12,456</mat-card-title>
      </div>
    </mat-card>
  </div>
  <!-- 2 -->
  <div class="col-lg-3 col-sm-6">
    <mat-card class="cardWithShadow text-center">
      <mat-card-content class="p-20">
        <h5 class="f-s-16 f-w-400 mat-subtitle-1 m-b-10">Total Visit</h5>
        <div style="width: 90px; margin: 0 auto">
          <apx-chart
            [series]="spark2Chart.series"
            [chart]="spark2Chart.chart"
            [plotOptions]="spark2Chart.plotOptions"
            [xaxis]="spark2Chart.xaxis"
            [yaxis]="spark2Chart.yaxis"
            [grid]="spark2Chart.grid"
            [fill]="spark2Chart.fill"
            [tooltip]="spark2Chart.tooltip"
            [colors]="spark2Chart.colors"
          >
          </apx-chart>
        </div>
      </mat-card-content>
      <div class="p-8 b-t-1">
        <mat-card-title class="f-s-16">456</mat-card-title>
      </div>
    </mat-card>
  </div>
  <!-- 3 -->
  <div class="col-lg-3 col-sm-6">
    <mat-card class="cardWithShadow text-center">
      <mat-card-content class="p-20">
        <h5 class="f-s-16 f-w-400 mat-subtitle-1 m-b-10">Bounce rate</h5>
        <div style="width: 90px; margin: 0 auto">
          <apx-chart
            [series]="spark3Chart.series"
            [chart]="spark3Chart.chart"
            [plotOptions]="spark3Chart.plotOptions"
            [xaxis]="spark3Chart.xaxis"
            [yaxis]="spark3Chart.yaxis"
            [grid]="spark3Chart.grid"
            [fill]="spark3Chart.fill"
            [tooltip]="spark3Chart.tooltip"
            [colors]="spark3Chart.colors"
          >
          </apx-chart>
        </div>
      </mat-card-content>
      <div class="p-8 b-t-1">
        <mat-card-title class="f-s-16">1,125</mat-card-title>
      </div>
    </mat-card>
  </div>
  <!-- 4 -->
  <div class="col-lg-3 col-sm-6">
    <mat-card class="cardWithShadow text-center">
      <mat-card-content class="p-20">
        <h5 class="f-s-16 f-w-400 mat-subtitle-1 m-b-10">Page Views</h5>
        <div style="width: 90px; margin: 0 auto">
          <apx-chart
            [series]="spark4Chart.series"
            [chart]="spark4Chart.chart"
            [plotOptions]="spark4Chart.plotOptions"
            [xaxis]="spark4Chart.xaxis"
            [yaxis]="spark4Chart.yaxis"
            [grid]="spark4Chart.grid"
            [fill]="spark4Chart.fill"
            [tooltip]="spark4Chart.tooltip"
            [colors]="spark4Chart.colors"
          >
          </apx-chart>
        </div>
      </mat-card-content>
      <div class="p-8 b-t-1">
        <mat-card-title class="f-s-16">6,450</mat-card-title>
      </div>
    </mat-card>
  </div>
</div>
