<div class="row">
  <div class="col-lg-8">
    <div class="row">
      <div class="col-lg-7">
        <app-welcome-card></app-welcome-card>
      </div>
      <div class="col-lg-5">
        <app-purchase></app-purchase>
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <app-total-earnings></app-total-earnings>
  </div>
</div>

<div class="row">
  <div class="col-lg-8">
    <app-revenue-updates></app-revenue-updates>
  </div>
  <div class="col-lg-4">
    <div class="row">
      <div class="col-sm-6 col-lg-12">
        <app-monthly-earnings></app-monthly-earnings>
      </div>
      <div class="col-sm-6 col-lg-12">
        <app-customers></app-customers>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-4">
    <app-total-sales></app-total-sales>
  </div>
  <div class="col-lg-8">
    <app-product-performance2></app-product-performance2>
  </div>
</div>
<div class="row">
  <div class="col-lg-4">
    <app-profile-card></app-profile-card>

    <app-my-contacts></app-my-contacts>
  </div>
  <div class="col-lg-8">
    <app-activity-timeline></app-activity-timeline>
  </div>
</div>

<div class="row">
  <div class="col-lg-4">
    <app-blog-card></app-blog-card>
  </div>
  <div class="col-lg-4">
    <app-weekly-stats></app-weekly-stats>
  </div>
  <div class="col-lg-4">
    <app-medicalpro-branding></app-medicalpro-branding>
  </div>
</div>
