<mat-card class="cardWithShadow text-white bg-primary">
  <mat-card-content class="p-24">
    <div class="d-flex justify-content-between">
      <mat-card-title class="text-white">Earnings</mat-card-title>
      <span
        class="bg-accent text-white icon-48 rounded-circle d-flex align-items-center justify-content-center"
      >
        <i-tabler name="currency-dollar" class="icon-24"></i-tabler>
      </span>
    </div>
    <h5 class="text-white mat-subtitle-1 f-w-500 m-b-4 m-t-30 p-t-12">$93,438.78</h5>
    <span class="f-s-14">Monthly revenue </span>
  </mat-card-content>
</mat-card>
