<mat-card class="cardWithShadow">
    <mat-card-content class="p-24">
      <div class="d-flex justify-content-between">
        <mat-card-title>Total Earnings</mat-card-title>
        <span
          class="icon-48 bg-primary text-white d-flex align-items-center justify-content-center rounded-circle"
        >
          <i-tabler name="currency-dollar" class="icon-20 d-flex"></i-tabler>
        </span>
      </div>
      <mat-card-title class="m-t-30 f-s-20">$93,438.78</mat-card-title>    
      <mat-card-subtitle>Monthly Revenue</mat-card-subtitle>
    </mat-card-content>
  </mat-card>
  