<app-pie-cards> </app-pie-cards>

<div class="row">
  <div class="col-lg-4">
    <app-sales-overview2></app-sales-overview2>
  </div>
  <div class="col-lg-4">
    <app-newsletter-campaign2></app-newsletter-campaign2>
  </div>
  <div class="col-lg-4">
    <app-current-visits></app-current-visits>
  </div>
</div>

<div class="row">
  <div class="col-lg-8">
    <app-project-data></app-project-data>
  </div>
  <div class="col-lg-4">
    <app-profile-card></app-profile-card>
  </div>
</div>

<div class="row">
  <div class="col-lg-4">
    <div class="row">
      <div class="col-lg-12 col-sm-6">
        <app-bandwidth-usage></app-bandwidth-usage>
      </div>
      <div class="col-lg-12 col-sm-6">
        <app-download-count></app-download-count>
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <app-favourite-contacts></app-favourite-contacts>
  </div>
  <div class="col-lg-4">
    <app-feeds></app-feeds>
  </div>
</div>

<div class="row">
  <div class="col-lg-6">
    <app-recent-comments></app-recent-comments>
  </div>
  <div class="col-lg-6">
    <app-todo-list></app-todo-list>
  </div>
</div>
