<mat-card class="cardWithShadow">
  <img
    mat-card-image
    src="assets/images/blog/blog-img1.jpg"
    style="min-height: 221px"
    alt="Photo of a Shiba Inu"
  />
  <mat-card-content class="p-24">
    <h5 class="f-s-16 d-flex align-items-center mat-subtitle-1 m-b-12"><i-tabler name="clock" class="icon-18 m-r-8"></i-tabler>22 March, 2023</h5>
    <mat-card-title>Super awesome, Angular is there, Lets do this!</mat-card-title>
    <div class="m-t-12">
      <span class="bg-light-primary text-primary f-s-12 f-w-500 rounded p-x-10 p-y-4">Medium</span>
      <span class="bg-light-error text-error f-s-12 f-w-500 rounded m-l-8 p-x-10 p-y-4">Low</span>
    </div>
    <mat-divider class="m-t-30"></mat-divider>
    <div class="d-flex align-items-center m-t-16 justify-content-between">
      <div class="d-flex align-items-center gap-8">
        <span><img src="assets/images/profile/user-1.jpg" width="40" class="rounded-circle" /></span>
        <span><img src="assets/images/profile/user-2.jpg" width="40" class="rounded-circle" /></span>
        <span><img src="assets/images/profile/user-3.jpg" width="40" class="rounded-circle" /></span>
      </div>
      <button mat-icon-button class="d-flex align-items-center justify-content-center"><i-tabler name="message" class="icon-20 d-flex align-items-center justify-content-center"></i-tabler></button>
    </div>
    
  </mat-card-content>
</mat-card>
