<div class="row">
  <div class="col-lg-3 col-sm-6">
    <mat-card class="cardWithShadow">
      <mat-card-content class="p-x-24 p-y-16">
        <div class="row justify-content-between">
          <div class="col-6 d-flex align-items-center">
            <div>
              <mat-card-title class="f-s-20 f-w-500"> 324 </mat-card-title>
              <mat-card-subtitle class="f-s-14 f-w-400">
                New Clients
              </mat-card-subtitle>
            </div>
          </div>
          <div class="col-5 d-flex align-items-center">
            <div
              class="d-flex flex-column align-items-center justify-content-end"
            >
              <apx-chart
                [series]="pie1Chart.series"
                [chart]="pie1Chart.chart"
                [labels]="pie1Chart.labels"
                [tooltip]="pie1Chart.tooltip"
                [legend]="pie1Chart.legend"
                [colors]="pie1Chart.colors"
                [dataLabels]="pie1Chart.dataLabels"
                [plotOptions]="pie1Chart.plotOptions"
                [stroke]="pie1Chart.stroke"
              >
              </apx-chart>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <!-- 2 -->
  <div class="col-lg-3 col-sm-6">
    <mat-card class="cardWithShadow">
      <mat-card-content class="p-x-24 p-y-16">
        <div class="row justify-content-between">
          <div class="col-6 d-flex align-items-center">
            <div>
              <mat-card-title class="f-s-20 f-w-500"> 2,376 </mat-card-title>
              <mat-card-subtitle class="f-s-14 f-w-400">
                Total Visits
              </mat-card-subtitle>
            </div>
          </div>
          <div class="col-5 d-flex align-items-center">
            <div
              class="d-flex flex-column align-items-center justify-content-end"
            >
              <apx-chart
                [series]="pie2Chart.series"
                [chart]="pie2Chart.chart"
                [labels]="pie2Chart.labels"
                [tooltip]="pie2Chart.tooltip"
                [legend]="pie2Chart.legend"
                [colors]="pie2Chart.colors"
                [dataLabels]="pie2Chart.dataLabels"
                [plotOptions]="pie2Chart.plotOptions"
                [stroke]="pie2Chart.stroke"
              >
              </apx-chart>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <!-- 3 -->
  <div class="col-lg-3 col-sm-6">
    <mat-card class="cardWithShadow">
      <mat-card-content class="p-x-24 p-y-16">
        <div class="row justify-content-between">
          <div class="col-6 d-flex align-items-center">
            <div>
              <mat-card-title class="f-s-20 f-w-500"> 1,795 </mat-card-title>
              <mat-card-subtitle class="f-s-14 f-w-400">
                New Leads
              </mat-card-subtitle>
            </div>
          </div>
          <div class="col-5 d-flex align-items-center">
            <div
              class="d-flex flex-column align-items-center justify-content-end"
            >
              <apx-chart
                [series]="pie3Chart.series"
                [chart]="pie3Chart.chart"
                [labels]="pie3Chart.labels"
                [tooltip]="pie3Chart.tooltip"
                [legend]="pie3Chart.legend"
                [colors]="pie3Chart.colors"
                [dataLabels]="pie3Chart.dataLabels"
                [plotOptions]="pie3Chart.plotOptions"
                [stroke]="pie3Chart.stroke"
              >
              </apx-chart>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <!-- 4 -->
  <div class="col-lg-3 col-sm-6">
    <mat-card class="cardWithShadow">
      <mat-card-content class="p-x-24 p-y-16">
        <div class="row justify-content-between">
          <div class="col-6 d-flex align-items-center">
            <div>
              <mat-card-title class="f-s-20 f-w-500"> 36,870 </mat-card-title>
              <mat-card-subtitle class="f-s-14 f-w-400">
                Page Views
              </mat-card-subtitle>
            </div>
          </div>
          <div class="col-5 d-flex align-items-center">
            <div
              class="d-flex flex-column align-items-center justify-content-end"
            >
              <apx-chart
                [series]="pie4Chart.series"
                [chart]="pie4Chart.chart"
                [labels]="pie4Chart.labels"
                [tooltip]="pie4Chart.tooltip"
                [legend]="pie4Chart.legend"
                [colors]="pie4Chart.colors"
                [dataLabels]="pie4Chart.dataLabels"
                [plotOptions]="pie4Chart.plotOptions"
                [stroke]="pie4Chart.stroke"
              >
              </apx-chart>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
