<app-sparkline-cards></app-sparkline-cards>

<div class="row">
  <div class="col-lg-8">
    <app-country-visit></app-country-visit>
  </div>
  <div class="col-lg-4">
    <app-browser-stats></app-browser-stats>
  </div>
</div>

<div class="row">
  <div class="col-lg-8">
    <app-total-revenue></app-total-revenue>
  </div>
  <div class="col-lg-4">
    <div class="row">      
      <div class="col-sm-6 col-lg-12">
        <app-sales-prediction></app-sales-prediction>
      </div>
      <div class="col-sm-6 col-lg-12">
        <app-sales-difference></app-sales-difference>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-4">
    <app-blog-card></app-blog-card>
  </div>
  <div class="col-lg-4">
    <app-weekly-stats></app-weekly-stats>
  </div>
  <div class="col-lg-4">
    <app-medicalpro-branding></app-medicalpro-branding>
  </div>
</div>
