.d-flex {
    display: flex; 
    align-items: center; 
  }
  
  .movie-image {
    margin-left: 16px; 
    border-radius: 8px; 
  }

  .filled-star {
    color: gold; 
  }
  
  .empty-star {
    color: gray; 
  }
  .half-star{
    color: gold;
  }