<mat-card class="cardWithShadow">
  <mat-card-content>
    <!-- Filter -->
    <div class="row justify-content-between">

      <div class="col-sm-4">
        <mat-form-field appearance="outline" class="w-100 hide-hint">
          <input matInput (keyup)="applyFilter($event)" placeholder="Search here" #input />
          <mat-icon matSuffix>
            <i-tabler name="search" class="icon-20"></i-tabler>
          </mat-icon>
        </mat-form-field>
      </div>

      <div class="col-sm-4 d-flex align-items-center justify-content-end">
        <a mat-button [routerLink]="['/cinema/movie/details']" mat-flat-button color="primary">
          Add Movie
        </a>
      </div>
    </div>
  </mat-card-content>
</mat-card>

<mat-card class="cardWithShadow">
  <mat-card-content>
    <div class="table-responsive m-t-30">
      <mat-table #table [dataSource]="dataSource" matSort style="max-height: 500px; overflow: auto">

        <!-- Overview Column -->
        <ng-container matColumnDef="overview">
          <mat-header-cell *matHeaderCellDef class="overview-column f-w-600 mat-subtitle-1 f-s-14 p-l-0">
            Overview
          </mat-header-cell>
          <mat-cell class="overview-column p-16 p-l-0" *matCellDef="let element">
            <div class="d-flex align-items-center">
              <img [src]="element.coverImage" alt="movie.cover" width="60" class="rounded-circle" />
              <div class="m-l-16">
                <h6 class="mat-subtitle-1 f-s-14 f-w-600 cursor-pointer" (click)="openMovieDetails(element)">
                  {{ element.title }}
                </h6>
                <span class="mat-body-1 f-s-12">{{ element.director }}</span>
              </div>
            </div>
          </mat-cell>
        </ng-container>

        <!-- Actors Column -->
        <ng-container matColumnDef="actors">
          <mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by actors"
            class="actors-column f-w-600 mat-subtitle-1 f-s-14">
            Actors
          </mat-header-cell>
          <mat-cell class="actors-column p-16 mat-body-1" *matCellDef="let element">
            <div class="actors-text">
              {{ element.actors }}
            </div>
          </mat-cell>
        </ng-container>

        <!-- Rating Column -->
        <ng-container matColumnDef="rating">
          <mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by rating"
            class="rating-column f-w-600 mat-subtitle-1 f-s-14">
            Rating
          </mat-header-cell>
          <mat-cell class="rating-column p-16" *matCellDef="let element">{{ element.rating }}</mat-cell>
        </ng-container>

        <!-- Duration Column -->
        <ng-container matColumnDef="duration">
          <mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by duration"
            class="duration-column f-w-600 mat-subtitle-1 f-s-14 text-right p-r-0">
            Duration
          </mat-header-cell>
          <mat-cell class="duration-column p-16" *matCellDef="let element">
            {{ element.duration }} min
          </mat-cell>
        </ng-container>

        <!-- Edit/View Column -->
        <ng-container matColumnDef="edit">
          <mat-header-cell *matHeaderCellDef
            class="edit-column f-w-600 mat-subtitle-1 f-s-14 text-right p-r-0">Edit/View</mat-header-cell>
          <mat-cell *matCellDef="let element" class="f-s-14 d-flex">
            <a mat-icon-button [routerLink]="['/cinema/movie/details/', element.id]"
              class="d-flex align-items-center justify-content-center">
              <i-tabler name="eye" class="icon-18 d-flex align-items-center"></i-tabler>
            </a>
          </mat-cell>
        </ng-container>


        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
      </mat-table>

      <!-- Pagination -->
      <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]">
      </mat-paginator>

    </div>
  </mat-card-content>
</mat-card>