.actors-text {
    display: -webkit-box;
    -webkit-line-clamp: 3; 
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    white-space: normal; 
    font-size: 12px; 
  }
  .overview-column {
    flex: 3; 
    min-width: 200px; 
  }
  
  .actors-column {
    flex: 2; 
    min-width: 150px;
  }
  
  .rating-column {
    flex: 1; 
    min-width: 100px;
  }
  
  .duration-column {
    flex: 1; 
    min-width: 80px;
  }
  .edit-column {
    flex: 1; 
    min-width: 80px;
  }
 