<mat-card class="cardWithShadow overflow-hidden">
  <mat-card-content class="p-24">
    <mat-card-title>Congratulation Julia</mat-card-title>

    <div class="f-s-18 f-w-500 m-t-12 d-flex align-items-center">$39,358 <span class="f-s-14 f-w-400 d-flex align-items-center m-l-8"><i-tabler name="arrow-up-left" class="icon-16"></i-tabler>+9%</span></div>

    <button mat-flat-button color="primary" class="m-t-30">Download</button>

    <img src="/assets/images/backgrounds/businessmen.png" alt="user" class="welcome-img" />
  </mat-card-content>
</mat-card>
