<mat-card class="cardWithShadow">
  <mat-card-content class="p-24">
    <div class="d-flex justify-content-between">
      <mat-card-title>Purchases</mat-card-title>
      <span
        class="icon-48 bg-accent text-white d-flex align-items-center justify-content-center rounded-circle"
      >
        <i-tabler name="basket" class="icon-20 d-flex"></i-tabler>
      </span>
    </div>
    <mat-card-title class="m-t-30 f-s-20">2,367</mat-card-title>    
    <mat-card-subtitle>Monthly Sales</mat-card-subtitle>
  </mat-card-content>
</mat-card>
