<app-sales-cards></app-sales-cards>

<div class="row">
  <div class="col-lg-8">
    <app-product-performance></app-product-performance>
  </div>
  <div class="col-lg-4">
    <div class="row">
      <div class="col-sm-6 col-lg-12">
        <app-earnings></app-earnings>
      </div>
      <div class="col-sm-6 col-lg-12">
        <app-yearly-sales></app-yearly-sales>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-4">
    <app-recent-transactions></app-recent-transactions>
  </div>
  <div class="col-lg-8">
    <app-product-sales></app-product-sales>
  </div>
</div>

<div class="row">
  <div class="col-lg-4">
    <app-blog-card></app-blog-card>
  </div>
  <div class="col-lg-4">
    <app-weekly-stats></app-weekly-stats>
  </div>
  <div class="col-lg-4">
    <app-medicalpro-branding></app-medicalpro-branding>
  </div>
</div>
