<app-top-cards></app-top-cards>

<div class="row">
  <div class="col-lg-8">
    <app-sales-overview></app-sales-overview>
  </div>
  <div class="col-lg-4">
    <app-our-visitors></app-our-visitors>
  </div>
</div>
<div class="row">
  <div class="col-lg-4">
    <app-blog-card></app-blog-card>
  </div>
  <div class="col-lg-8">
    <app-newsletter-campaign></app-newsletter-campaign>
  </div>
</div>

<div class="row">
  <div class="col-sm-6 col-lg-4">
    <app-bandwidth-usage></app-bandwidth-usage>
  </div>
  <div class="col-sm-6 col-lg-4">
    <app-download-count></app-download-count>
  </div>
  <div class="col-lg-4">
    <app-weather-card></app-weather-card>
  </div>
</div>

<div class="row">
  <div class="col-lg-4">
    <app-profile-card></app-profile-card>

    <app-my-contacts></app-my-contacts>
  </div>
  <div class="col-lg-8">
    <app-activity-timeline></app-activity-timeline>
  </div>
</div>
