<mat-card class="cardWithShadow">
  <mat-card-content class="p-24">
    <div class="d-sm-flex align-items-center">
      <mat-card-title>Products Performance</mat-card-title>
      <div class="d-flex align-items-center gap-30 m-l-auto">
        <div class="d-flex gap-12">
          <i-tabler
            name="circle-filled"
            class="text-accent icon-12 d-flex"
          ></i-tabler>
          <span class="mat-subtitle-2 text-accent">Budget</span>
        </div>
        <div class="d-flex gap-12">
          <i-tabler
            name="circle-filled"
            class="text-primary icon-12 d-flex"
          ></i-tabler>
          <span class="mat-subtitle-2 text-primary">Expence</span>
        </div>
      </div>
    </div>

    <div class="row m-t-30">
      <div class="col-lg-4">
        <h6 class="mat-subtitle-1 f-w-500 f-s-18">$93,438.78</h6>
        <span class="f-s-12">Budget</span>

        <h6 class="mat-subtitle-1 f-w-500 f-s-18 m-t-24">$32,839</h6>
        <span class="f-s-12 d-block">Expense</span>

        <div class="m-t-20">
          <apx-chart
            [series]="p1Chart.series"
            [chart]="p1Chart.chart"
            [plotOptions]="p1Chart.plotOptions"
            [grid]="p1Chart.grid"
            [tooltip]="p1Chart.tooltip"
            [colors]="p1Chart.colors"
            [markers]="p1Chart.markers"
            [legend]="p1Chart.legend"
            [stroke]="p1Chart.stroke"
          >
          </apx-chart>
        </div>
        <button mat-flat-button color="accent" class="m-t-20">
          Download Report
        </button>
      </div>
      <div class="col-lg-8">
        <div>
          <apx-chart
            [series]="performanceChart.series"
            [chart]="performanceChart.chart"
            [plotOptions]="performanceChart.plotOptions"
            [grid]="performanceChart.grid"
            [tooltip]="performanceChart.tooltip"
            [colors]="performanceChart.colors"
            [dataLabels]="performanceChart.dataLabels"
            [markers]="performanceChart.markers"
            [legend]="performanceChart.legend"
            [stroke]="performanceChart.stroke"
            [xaxis]="performanceChart.xaxis"
            [yaxis]="performanceChart.yaxis"
            [fill]="performanceChart.fill"
          >
          </apx-chart>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
